<div class="wrapper fadeInDown  p-3 mb-2 bg-dark">
    <div id="formContent">
      <div>
        <h1 class="text-dark">Usuario</h1>
      </div>
      <div class="card" >
       
        <ul class="list-group list-group-flush">
            <div class="panel panel-default">
                <li class="list-group-item panel-body">Nombre
                    <p>Registro del nombre </p>
                </li>
            </div>
            <div class="panel panel-default">
                <li class="list-group-item panel-body">Apellido
                    <p>Registro del apellido </p>
                </li>
            </div>    
            <div class="panel panel-default">
                <li class="list-group-item panel-body">Correo
                    <p>Registro del correo </p>
                </li>
            </div>    
            <div class="panel panel-default">
                <li class="list-group-item panel-body">Estado
                    <p>Registro del Estado </p>
                </li>
            </div>        
        </ul>
      </div>
    </div>
  </div>