<div class="wrapper fadeInDown  p-3 mb-2 bg-dark">
    <div id="formContent">
      <div>
        <h1 class="text-dark">Administracion de roles</h1>
      </div>
      <!-- Login Form -->
      <form>
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" name="names"  ngModel/>
          <label class="form-label" for="form6Example1">Nombre del rol</label>
        </div>
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" name="names"  ngModel/>
          <label class="form-label" for="form6Example1">Descripcion del rol</label>
        </div>
        <input type="submit" class="btn btn-success fadeIn fourth md-12" value="Crear rol"><p></p>
        <input type="submit" class="btn btn-danger fadeIn fourth md-12" value="Descartar">
      </form>
    </div>
  </div>