<div class="wrapper fadeInDown  p-3 mb-2 bg-dark">
    <div id="formContent">
      <div>
        <h1 class="text-dark">Modificar rol</h1>
      </div>
      <div class="card" >
       <form action="form-1">
        <ul class="list-group list-group-flush">
            <div class="panel panel-default">
                <li class="list-group-item panel-body">Nombre del rol
                </li>
            </div>
            <div class="panel panel-default">
                <li class="list-group-item panel-body">Roles
                    <p><select class="form-control" name="type" ngModel>
                        <option name="A">Administrador</option>
                        <option name="I">Usuario</option>
                      </select> </p>
                </li>
                <li class="form-outline">
                    <label class="form-label" for="form6Example1">Nombre del rol</label>
                    <input type="text" id="form6Example1" class="form-control" name="names"  ngModel/>
                </li>
                <li class="form-outline">
                    <label class="form-label" for="form6Example1">Descripcion</label>
                    
                </li>
                <label for="form6Example1" class="form-label"><input type="text" class="form-label" ></label>
            </div>
            <input type="submit" class="btn btn-success" value="Guardar ">
            <input type="submit" class="btn btn-danger" value="Atras">        
        </ul>
        </form>
      </div>
    </div>
  </div>