<div class="wrapper fadeInDown">
    <div id="formContent">
<div class="navbar justify-content-center">
    <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" />
          <label class="form-label" for="form6Example1">Nombre</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Apellido</label>
        </div>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">Email</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
        <input type="password" id="form6Example3" class="form-control" />
        <label class="form-label" for="form6Example3">Crear contraseña</label>
      </div>
    <!-- Number input -->
    <div class="form-outline mb-4">
        <input type="password" id="form6Example6" class="form-control" />
        <label class="form-label" for="form6Example6">Confirmar contraseña</label>
    </div>
    <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <select class="form-control">
                <option>T.I.</option>
                <option>C.C.</option>
                <option>C.E.</option>
              </select>
            <label class="form-label" for="form6Example1">Tipo de documento</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="number" id="form6Example2" class="form-control" />
            <label class="form-label" for="form6Example2">Numero de documento</label>
          </div>
        </div>
      </div>
  

  
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      
      <label class="form-check-label" for="form6Example8"> ¿Desea cear una cuenta nueva? </label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Crear</button>
    <button type="submit" class="btn btn-outline-secondary btn-block mb-4">Atras</button>
  </form>
</div>
</div>
</div>