<div class="wrapper fadeInDown bg-dark">
  <div id="formContent">
    <div class="navbar justify-content-center ">
      <form #useForm = "ngForm" (ngSubmit)="sendData(useForm.value)">
        <h1 class="text-dark"> Registro de usuario</h1>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <!-- <div class="row mb-4"> -->
        <!-- <div class="col"> -->
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" name="names"  ngModel/>
          <label class="form-label" for="form6Example1">Nombres</label>
        </div>
        <!-- </div> -->

        <!-- <div class="col"> -->
        <div class="form-outline">
          <input type="text" id="form6Example2" class="form-control" name="apellidos"  ngModel/>
          <label class="form-label" for="form6Example2">Apellidos</label>
        </div>
        <!-- </div> -->
        <!-- </div> -->

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form6Example5" class="form-control" name="Email" ngModel/>
          <label class="form-label" for="form6Example5">Correo electronico</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <input type="password" id="form6Example3" class="form-control" name="PasswordOne" ngModel/>
          <label class="form-label" for="form6Example3">Contraseña</label>
        </div>
        <!-- Number input -->
        <div class="form-outline mb-4">
          <input type="password" id="form6Example6" class="form-control" name="PasswordTwo" ngModel/>
          <label class="form-label" for="form6Example6">Confirmar contraseña</label>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-outline">
              <select class="form-control" name="type" ngModel>
                <option name="CC">CC</option>
                <option name="TI">TI</option>
                <option name="CE">CE</option>
              </select>
              <label class="form-label" for="form6Example1">Tipo de documento</label>
            </div>
          </div>
          <div class="col-9">
            <div class="form-outline">
              <input type="number" id="form6Example7" class="form-control" name="docNum" ngModel/>
              <label class="form-label" for="form6Example7">Número de documento</label>
            </div>
          </div>
        </div>



        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">

          <!-- <label class="form-check-label" for="form6Example8"> ¿Desea cear una cuenta nueva? </label> -->
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" >Crear</button>
        <!-- <button type="submit" class="btn btn-danger btn-block mb-4" (click)="volverHome()">Atras</button> -->
        
      </form>
      <button type="submit" class="btn btn-danger btn-block mb-4">Atrás</button>
    </div>
  </div>
</div>